

.navbar-brand {
    margin: 0% 37%;
    
}

.content {
    color: black;
    margin: 10% 40%;
    width: 100%;
}

.text {
    margin: 4% 4%;
}

.charNumber {
    margin: 4% 4.5%;
}

.generate {
    margin: 2%;
}

.p1 {
    width: 100%;
    margin-right: 200px;

}
h4 {
    margin: 0% 20%;
}