.container {
    margin: 3% 35%;
}

.navbar-brand {
    margin: 0% 37%;
    
}

.content {
    color: black;
}

.text {
    margin: 4% 4%;
}

.charNum {
    margin: 4% 4.5%;
}

.generate {
    margin: 2%;
}

.para {
    margin: 0% 30% 0% 0%;
    text-align: center;
}
